$animationIn: rotateIn 0.5s ease-out 0s 1;
$animationOut: rotateOut 0.5s ease-out 0s 1;

$blueRGB: rgba(99, 97, 146, 0);
$blueRGB-fill: rgba(99, 97, 146, 1);
$redRGB: rgba(247, 19, 164, 0);
$redRGB-fill: rgba(247, 19, 164, 1);
$yellowRGB: rgba(5, 255, 192, 0);
$yellowRGB-fill: rgba(5, 255, 192, 1);

html, a, a:hover {
  cursor: none;
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $blueRGB-fill;
  transform: rotateY(0deg) rotate(45deg);
  border-radius: 0%;
  border: solid 3px $blue;
}

@mixin rotMix($color, $radStart, $radEnd, $transRotStart, $transRotEnd) {
  0% { border-radius: $radStart; transform: rotateY(0deg) rotate($transRotStart); background-color: $color }
  100% { border-radius: $radEnd; transform: rotateY(0deg) rotate($transRotEnd); background-color: $color }
}

.animateIn {
  -webkit-animation: $animationIn;
  -moz-animation: $animationIn;
  -ms-animation: $animationIn;
  -o-animation: $animationIn;
  animation: $animationIn;
  animation-fill-mode: forwards;

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.animateOut {
  -webkit-animation: $animationOut;
  -moz-animation: $animationOut;
  -ms-animation: $animationOut;
  -o-animation: $animationOut;
  animation: $animationOut;
  animation-fill-mode: forwards;

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes rotateIn {
  @include rotMix($blueRGB, 0%, 50%, 45deg, 90deg)
}

@keyframes rotateOut {
  @include rotMix($blueRGB, 50%, 0%, 90deg, 45deg)
}
