$primary-text-color: white;
$secondary-text-color: black;

$purple: #636192;
$pink: #F713A4;
$pink-light: #FF53C1;
$turquoise: #05FFC0;

$small-font-size: 18px;

a {
  color: $primary-text-color;
}

.content {
  max-width: 1200px;
  margin: 100px auto 0;
  padding-left: 16px;
  padding-right: 16px;
}

#copyright {
  p, a {
    color: rgba(255, 255, 255, 0.4);
  }
}

#about {
  background-color: $purple;
  #text span {
    color: $purple;
  }
  #text .highlight {
    line-height: 227%;
  }
  .content h1 {
    text-shadow: 6px 6px $turquoise;
  }
}

#projects {
  background-color: $pink-light;
    h1 {
      text-shadow: 6px 6px $purple;
    }
  .proj-item {
      border: none;
      padding: 0;
      &:hover {
        cursor: pointer;
      }
      h2 {
        color: $pink-light;
        span {
          background-color: white;
        }
      }
      p {
        color: $primary-text-color;
        &.stack span {
          background-color: white;
          color: $pink-light;
          font-size: $small-font-size;
          line-height: 1.8;
        }
      }
  }
}

#project-container {
  grid-template-columns: repeat(2, 1fr);
}

#project-page {
  background-color: #636192;
}

#contact {
  background-color: $turquoise;
  a {
    color: $secondary-text-color;
  }
  .content h1 {
    text-shadow: 6px 6px $pink;
  }
}

.back {
  a {
    color: $secondary-text-color;
  }
}

#cv {
  ul>li {
    border-color: $primary-text-color;
  }
  img {
    width: 16px;
    position: relative;
    bottom: 2px;
    line-height: 2px;
  }
}

@media only screen and (max-width: 991px) {
  #project-container {
		grid-template-columns: 1fr;
	}
  #cv ul a {
    font-size: 15px;
  }
  #contact a {
    font-size: 15px;
  }
}
