$primary-text-color: white;
$secondary-text-color: black;

$purple: #636192;
$pink: #F713A4;
$pink-light: #FF53C1;
$turquoise: #05FFC0;

$small-font-size: 18px;

h3 {
  box-sizing: border-box;
  height: 2rem;
}

a {
  color: $primary-text-color;
}

.content {
  max-width: 1200px;
  margin: 100px auto 0;
  padding-left: 16px;
  padding-right: 16px;
  h3 {
    width: fit-content;
  }
}

#copyright {
  p, a {
    color: rgba(255, 255, 255, 0.4);
  }
}

#about {
  background-color: $purple;
  #text span {
    color: $purple;
  }
  #text .highlight {
    line-height: 227%;
  }
  .content h1 {
    text-shadow: 6px 6px $turquoise;
  }
}

#projects {
  background-color: $pink-light;
  a:not(.back>a):hover {
    text-decoration: underline;
  }
    h1 {
      text-shadow: 6px 6px $purple;
    }
  .proj-item {
      border: none;
      padding: 0;
      height: 400px;
      border-radius: 28px;
      box-sizing: border-box;
      padding: 150px 24px;
      &:hover {
        cursor: pointer;
      }
      h2 {
        text-align: center;
        transition: transform 0.2s ease-in;
      }
      p {
        text-align: center;
        &.stack span {
          background-color: rgba(255,255,255,0.2);
          padding: 5px 25px;
          border-radius: 25px;
          font-size: $small-font-size;
          text-align: center;
          line-height: 2.5;
        }
      }
  }
}



#project-container {
  grid-template-columns: repeat(2, 1fr);
  .proj-item:first-child {
    grid-column: 1 / -1;
  }
}

#project-page {
  background-color: #636192;
  h1 {
    text-shadow: 6px 6px #ffffff;
  }
  h2 {
    border-bottom: 4px solid #ffffff ;
    width: fit-content;
  }

  a:not(.back>a):hover {
    text-decoration: underline;
  }
  
  p:not(.stack) {
    text-align: justify;
  }
  p {
    &.stack span {
      background-color: rgba(255,255,255,0.2);
      padding: 5px 25px;
      border-radius: 25px;
      font-size: $small-font-size;
      text-align: center;
      line-height: 2.5;
    }
  }
  p:not(:first-of-type), ul {
    margin-bottom: 3rem;
  }
  .hero_img {
    width: 100%;
    border-radius: 20px;
  }
  div {
    &.links {
      display: flex;
      gap: 2rem;
    }
  }
  iframe {
    width: 100%;
    max-width: 900px;
  }
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
  h1 {
    text-shadow: 6px 6px #000000 !important;
  }
}

#contact {
  background-color: $turquoise;
  a {
    color: $secondary-text-color;
    &:hover {
      border-bottom: 4px solid white;
    }
  }
  .content h1 {
    text-shadow: 6px 6px $pink;
  }
}

.back {
  a {
    color: $secondary-text-color;
    &:hover {
      border-bottom: 4px solid white;
    }
  }
}

#cv {
  ul>li {
    border-color: $primary-text-color;
  }
  img {
    width: 16px;
    position: relative;
    bottom: 2px;
    line-height: 2px;
  }
}

.scale-in {
  transform: scale(1.3) translateY(-10px);
}

@media only screen and (max-width: 991px) {
  #project-container {
		grid-template-columns: 1fr;
	}
  #cv ul a {
    font-size: 15px;
  }
  #contact a {
    font-size: 15px;
  }
}
