@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:900,');

$blue: rgb(0, 0, 255);
$red: rgb(242,83,70);
$yellow: rgb(255, 212, 84);

a {
	font-family: 'Roboto Mono', monospace;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 72px;
}

h2 {
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
}

h3 {
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
}

p, ul {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
	min-height: 100%;
	background-color: rgb(30, 29, 43);
}

.content {
	margin: 12%;
	h1 {
		margin-top: 25px;
	}
	h3 {
		width: 74px;
	}
}

.sections {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#world, #about, #projects {
	@extend .sections;
}

.transitions {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	display: none;
	overflow: overlay;
}

#logo {
	position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

#about {
	background-color: $blue;
	@extend .transitions;
}

#text {
	color: white;
	span {
		background-color: white;
		color: $blue;
	}
	div {
		width: 40%;
		margin-right: 10%;
		float: left;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

#projects {
	background-color: $red;
	@extend .transitions;
}

#project-container {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}

.proj-item {
	padding: 10px;
	border: 2px solid black;
	img {
		width: 100%;
	}
}

#contact {
	background-color: $yellow;
	@extend .transitions;
}

#links {
	position: absolute;
	bottom: 0;
	margin: 35px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		a {
			font-size: 24px;
		}
	}
}

#cv {
	position: absolute;
	top: 0;
	right: 0;
	margin: 35px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		a {
			font-size: 18px;
		}
		li {
			border: 2px solid black;
			// border-radius: 10px;
			padding: 7px 7px 10px 7px;
			-webkit-transition: box-shadow 0.2s; /* Safari */
    	transition: box-shadow 0.2s ease-in;
		}
		li:hover {
			box-shadow: 5px 5px $blue;
		}
	}
	img {
		vertical-align: sub;
	}
}

#copyright {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 35px 35px 0 35px;
	p {
		font-size: 12px !important;
	}
	a:hover {
		text-decoration: underline;
	}
}

#deets {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin-bottom: 12px;
	}
	img {
		vertical-align: middle;
	}
}

@mixin underlineBoarder($color) {
	border-bottom: 4px solid $color;
}

.aLinkHover {
	@include underlineBoarder($blue);
}

.pLinkHover {
	@include underlineBoarder($red);
}

.cLinkHover {
	@include underlineBoarder($yellow);
}

.backHover {
	@include underlineBoarder(white);
}

.topHover {
	margin-top: 21px !important;
}
/*
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	max-width: 900px;
	grid-template-columns: repeat(3, 1fr);
}
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 48px;
	}

	.content h1 {
		margin-top: 0;
	}

	#text div {
			width: 100%;
			margin-right: 0;
			float: none;
			margin-bottom: 40px;
	}

	#project-container {
		grid-template-columns: 1fr;
	}
}

@media only screen and (min-width: 610px) and (max-width: 767px) {
	#copyright {
		width: 30%;
	}
	h1 {
		font-size: 41px;
	}
	#text div {
			width: 100%;
			margin-right: 0;
			float: none;
			margin-bottom: 40px;
	}
	#project-container {
		grid-template-columns: 1fr;
	}
}

@media only screen /*and (min-width: 320px)*/ and (max-width: 609px) {
	#copyright {
		display: none;
	}
	#cv {
		width: 215px;
		left: 0;
		margin: 35px auto;
	}
	#links {
		right: 0;
		left: 0;
		margin: 35px auto;
		text-align: center;
	}
	#text div {
			width: 100%;
			margin-right: 0;
			float: none;
			margin-bottom: 40px;
	}
	#project-container {
		grid-template-columns: 1fr;
	}
	h1 {
		font-size: 24px;
	}
	p, ul {
		font-size: 16px;
	}
	h2 {
		font-size: 18px;
	}
	li {
		overflow-wrap: break-word;
	}
}
